.css-1q39md6-MuiButtonBase-root-MuiButton-root {
    font-weight: 400 !important;
    margin: 0px 10px !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root:hover {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.css-2s90m6-MuiAvatar-root {
    color: white !important;
    background-color: black !important;
}

#mainimg {
    background: url(../Image/8.png);
    width: 90vw;
    height: 400px;
    margin-top: 30px;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#chatimg {
    width: 300px;
    padding: 30px 6%;
}

#content1 {
    color: white;
    padding: 30px 80px;
}

#title1 {
    font-size: 30px;
    font-weight: 300;
    margin-left: 10px;
}

#under{
    text-decoration: underline;
    text-decoration-color: #166534;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

#icon {
    width: 50px;
}

#cardMain {
    background-color: #166534;
    padding: 30px 50px;
    border-radius: 10px;
}
#cardMain2 {
    color: black;
    width: 50%;
    padding: 30px 50px;
    border-radius: 10px;
}

#cardMain2 h5{
    font-weight: 300;
}

#cardMain:hover {
    background-color: #248b4c;
}

#cardMain h4 {
    font-size: 18px;
    font-weight: 600;
}

#cardMain h5 {
    font-size: 15px;
    font-weight: 300;
}

#cimg{
    width: 100%;
    border-radius: 10px;
}
#cMain {
    background-color: #ffffff;
    padding: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

#cMain:hover {
    background-color: #166534;
    color: white !important;
}

#cMain h4 {
    margin:20px 20px 0px 20px;
    font-size: 18px;
    font-weight: 600;
}

#cMain h5 {
    font-size: 15px;
    margin:10px 20px 20px 20px;
    font-weight: 300;
}

#navtext2{
    font-weight: 500;
}

#input{
    margin-left: 5px;
    padding: 5px 20px;
}

#btn{
    background:#166534;
    color:white;
    padding:5px 30px;
    border-radius: 5px;
    border-color: none;
}
#btn:hover{
    background:#178541;
}

#btn1{
    background:#ffffff;
    color:#000000;
    padding:5px 30px;margin-right: 40PX;
    border-radius: 5px;
    border-color: none;
}
#btn1:hover{
    background:#178541;
    color: WHITE;
}

#maincontact{
    background-color: #ffffff;
    padding: 0 5% 7% 5%;
    width: 70%;
    border-radius: 10px;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 600px) {
    #cardsection {
        flex-wrap: wrap
    }
}